<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" action="../api/searchOrder/123" class="btn btn-default">Submit</button>
      </form>